/*TAG's*/
main {
	display: flex;
	justify-content: space-around;
}

ul {
	list-style: none;
}

/*ID's*/
#btn-container {
	min-width: 200px;
}

#access-display {
	max-height: 200px;
	min-width: 200px;
	overflow: auto;
}


/*CLASSES*/
	/*utilities*/
.colFlex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hFlex {
	display: flex;
	justify-content: space-around;
}


.btn {
	padding: 5px;
	min-width: 30px;
}

	/*add animal*/
.add-animal-container {
	position: absolute;
	top: 30%;
	right: 45%;
	border: 1px solid gray;
	border-radius: 3px;
	max-width: 300px;
}

.close-btn {
	position: relative;
	top: 5%;
	left: 65%;
	color: red;
}

.add-animal-form {
	padding: 30px;
}

.required-input::after {
	content: '*';
	color: teal;
}

	/*button display*/
.animals-btn-container{
	width: 100%;
	margin: 5px;
	display: flex;
	justify-content: space-evenly;
}

.btn-animals {
	margin: 5px;
	transition: 0.3s;
}

.btn-active {
	border: 2px solid #EB1D36;
	color: #E94560;
}

.obj-value {
	color: #16213E;
}

	/*history*/

.access-name {
	margin-right: 15px;
}

.access-date {
	color: red;
}

.obj-change {
	color: crimson;
	margin-right: 5px;
}